@function remy($value) {
    @return ($value / 16px) * 1rem;
  }
  
  body {
    font: 100% / 1.414 "Open Sans", "Roboto", arial, sans-serif;
    background: #fdfcfc;
  }
  a,
  [type="submit"] {transition: all .25s ease-in;}
  .forgotPW__container {
    position: absolute;
    top: 60%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(-50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: remy(800px);
    height: remy(480px);
    border-radius: remy(3px);
    box-shadow: 0px remy(3px) remy(7px) rgba(0,0,0,.25);
  }
  .forgotPW__overlay {
    position: absolute;
    top: -50;
    left: 0;
    width: 100%;
    height: 500%;
    background-color: rgba(0,0,0,.76);
  }
  .container__child {
    width: 30%;
    height: 100%;
    color: rgb(119, 65, 65);
  }
  .forgotPW__thumbnail {
    position: relative;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: url(../images/fashion.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
  .thumbnail__logo,
  .thumbnail__content,
  .thumbnail__links {
    position: relative;
    z-index: 2;  
  }
  .thumbnail__logo {align-self: flex-start;}
  .logo__shape {fill: #fff;}
  .logo__text {
    display: inline-block;
    font-size: .8rem;
    font-weight: 700;
    vertical-align: bottom;
  }
  .thumbnail__content {align-self: center;}
  h1,
  h2 {
    font-weight: 300;
    color: rgb(207, 181, 181);
  }
  .heading--primary {font-size: 1.999rem;}
  .heading--secondary {font-size: 1.414rem;}
  .thumbnail__links {
    align-self: flex-end;
    width: 100%;
  }
  .thumbnail__links a {
    font-size: 1rem;
    color: rgb(219, 120, 120);
  }
  .forgotPW__form {
    padding: 6rem;
    background: #6c248d;
  }
  label {
    font-size: .85rem;
    text-transform: uppercase;
    color: rgb(245, 241, 247);
  }
  .form-control {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
  [type="text"] {color: #111;}
  [type="password"] {color: #111;}
  .btn--form {
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #111;
    border-radius: remy(35px);
  }
  .forgotPW__link {
    font-size: .8rem;
    font-weight: 600;
    text-decoration: underline;
    color: rgb(134, 139, 139);
  }